*{
	/*display: none;*/

}

body{
	background-color: #edf2f4;
}

.navbar.scrolled{
	background:  #2b2d42 !important;

}

.navbar.scrolled .navbar-nav a{
	/*border: 2px solid #2b2d42;*/
}

.navbar {
	background: /*rgba(43, 45, 66, .5)*/ transparent !important;
	transition: .5s;
}

.navbar-nav a{
	/*background-color: rgba(43, 45, 66, .5);*/
	color: #edf2f4 !important;
	font-weight: 600;
	/*padding: 1px;*/
	/*padding-right: 30px;*/
	margin : 0 20px;
	/*border: 2px solid #edf2f4;*/
	border-radius: 5px;
	/*font-size: 18px;*/
}

.navbar-nav a:hover{
	color: #8d99ae !important;
}

.navbar-brand{
	color: #d90429 !important;
	text-shadow: .5px .5px 1px #fff;
	font-family: 'anton';
	font-weight: 300;
	font-size: 24px;
}

.jumbo{
	padding-top: 100px;
	background-image: url(image/hero-sepatu.jpg);
	background-size: cover;
	background-position: center 80%;
	margin-bottom: 100px;
	height: 600px;
}

.jumbotron h1{
	color: #edf2f4;
	text-shadow: 2px 2px 1px #d90429;
	margin-top: 80px;
	font-size: 72px;
	/*font-weight: 600;*/
	font-family: 'anton';
}

.jumbotron p{
	color:  #edf2f4;
	text-shadow: 1px 1px 1px #ef233c;
	font-weight: 500;
	font-size: 24px;
}

.jumbotron .wadah-arrow{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 200px;
	color: #edf2f4;
}

.jumbotron .wadah-arrow h6{
	font-size: 20px;
}

.jumbotron .wadah-arrow a{
	text-decoration: none;
	color: #edf2f4 !important;
	text-shadow: 1px 1px 3px #2b2d42;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 32px;
	-webkit-animation: slide-top 1s ease-in-out infinite alternate-reverse both;
	        animation: slide-top 1s ease-in-out infinite alternate-reverse both;
}

.about img{
	/*display: none;*/
}

.about h2{
	font-size: 50px;
	color: #d90429;
	text-shadow: 1px 1px 1px #8d99ae;
	font-family: 'Acme', sans-serif;
}

.about p{
	font-size: 20px;
	font-family: 'Handlee', serif;
}

.product{
	position: relative;
}

.product h2{
	font-size: 50px;
	color: #d90429;
	text-shadow: 1px 1px 1px #8d99ae;
	font-family: 'Acme', sans-serif;
}

.card {
	background-color: #edf2f4;
	padding: 5px;
	/*height: 300px;*/
	/*margin-bottom: 500px;*/
	border: none;
	border-radius: 0;
}

.card img{
	height: 170px;
	border-radius: 0;
	box-shadow: 1px 1px 2px #2b2d42;
}

.card h5{
	font-size: 28px;
	color: #2b2d42;
	font-family: 'Sriracha', cursive;
	/*text-shadow: .5px .5px 1px #8d99ae;*/
}

.product a{
	background-color: #ef233c ;
	border: 2px solid #2b2d42;
	color: #edf2f4;
	/*text-shadow: 1px 1px 1px #edf2f4;*/
	font-weight: 500;
	border-radius: 215px;
	box-shadow: 1px 1px 1px #edf2f4;
	font-family: 'Sriracha';
}

.product a:hover{
	background-color: #8d99ae;
	border: 2px solid #2b2d42;
	color: #edf2f4;
	text-shadow: none;
	font-weight: 500;
	border-radius: 215px;
	box-shadow: 1px 1px 1px #edf2f4;
}

.custom img{
	box-shadow: 1px 1px 2px #2b2d42;

}

.contact{
	position: relative;
}

.custom h3{
	font-size: 28px;
	color: #2b2d42;
	font-family: 'Sriracha', cursive;

	/*text-shadow: .5px .5px 1px #fff;*/
}

.custom p{
	text-align: left !important;
	font-size: 18px;
	font-family: 'Handlee', serif;
}

.contact h2{
	font-size: 50px;
	color: #d90429;
	text-shadow: 1px 1px 1px #8d99ae;
	font-family: 'Acme', sans-serif;
}

.contact ul {
	background-color: transparent !important;
	border: none;
		font-family: 'Acme', sans-serif;

	/*padding: 100px;*/
}

.contact ul li{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #333;
	padding: 15px;
}

.contact .list-group a{
	background-color: transparent;
	padding: 15px;

	border: none;
	border-bottom: 1px solid #333;
	border-radius: 0;
}











.contact h3{
	color: #2b2d42;
	font-family: 'Acme', sans-serif;

}

.contact .contactForm{
	background-color: rgba(0, 0, 0, 0);
	/*width: 50%;*/
	padding:  20px 10px;
	margin-left: auto;
	/*border: 1px solid #f6c90e;*/
}

.contact .contactForm h2{
	color: #f6c90e;
}

.contactForm .inputBox{
	position: relative;
	width: 100%;
	/*margin: 20px 0;*/
	margin-top: 20px;
	background: transparent;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px;
	border : none;
	border-bottom: 2px solid #2b2d42;
	outline: none;
	resize: none;
}



.contactForm .inputBox input[type="text"],
.contactForm .inputBox input[type="email"],
.contactForm .inputBox textarea
{
	background: transparent;
	border-radius: 0;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	color: #2b2d42;
}

.contactForm .inputBox span{
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	pointer-events: none;
	transition: .2s;
	color: #2b2d42;
	/*margin-bottom: 20px;*/
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	transform: translateY(-20px);
	font-size: 12px;
	color: #ef233c;
}

.contactForm .inputBox input[type="submit"]{
	width: 20%;
	background-color: #ef233c ;
	border: 2px solid #2b2d42;
	color: #edf2f4;
	/*text-shadow: 1px 1px 1px #edf2f4;*/
	font-weight: 500;
	border-radius: 215px;
	box-shadow: 1px 1px 1px #edf2f4;
	font-family: 'Acme', sans-serif;

}

footer{
	background-color: #111;
	padding-bottom: 1px;
	padding-top: 50px;
	color: #888;
}

.socmed{
	margin-left: auto;
	text-align: right;
}

.socmed a{
	color: #888;
	margin-left: 10px;
	text-decoration: none;
}


.tanda{
	position: absolute;
	top: -60px

}











@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}



@media (max-width:760px){
	.jumbotron .wadah-arrow{
		margin-top: 50px;
	}
}